.col-4 {
    background-color: #6c757d;
    padding: 0px;
    min-width: 125px;
    max-width: 170px;
}

.block-left {
    /* margin-top: 30px; */
    width:100%;
    min-height: 100vh;
    min-width: 125px;
    justify-content: initial;
}