.col-2 {
    background-color: #6c757d;
    padding: 0px;
    min-width: 125px;
    max-width: 170px;
}

.col-4 {
    background-color: #6c757d;
}

.menu-btn { 
    margin-right: 100%;
    background-color: silver;
    color: black;
    border: width border-style color;
}

.menu-left {
    /* margin-top: 30px; */
    padding-top: 20px;
    width:100%;
    min-height: 100vh;
    min-width: 125px;
    justify-content: initial;
}

mat-icon {
    float: left;
}

@media screen and (max-width: 767px){
    .col-2 {
        min-width: 40px;
        max-width: 50px;
    }

    .menu-left {
        min-width: 40px;
        max-width: 50px;
    }
    
    .btn {
        max-width: 50px;
        font-size: 0px;
    }

    .col-md-10 {
        max-width: 90%;
    } 
}

@media screen and (max-width: 517px){
    .col-md-10 {
        max-width: 83%;
    } 
}

left-nav-my {
    background-color: #6c757d;
    padding: 0px;
    min-width: 125px;
    max-width: 170px;
}