<div class="container">
  <form [formGroup]="createProj" (ngSubmit)="Submit()">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" formControlName="Name" required>
    </div>

    <div class="form-group">
      <label for="dateRange">Date range</label>
      <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text" class="form-control" #dp="bsDatepicker" formControlName="StartDate" bsDatepicker [(bsValue)]="StartDate" 
          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
        </div>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text" class="form-control" [minDate]="StartDate" #dp="bsDatepicker" formControlName="EndDate" bsDatepicker [(bsValue)]="EndDate" 
          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" rows="5" formControlName="Comment"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>