.btn-table {
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 2px; 
}

.btn-tab-options {
    margin-top: 5px;
    margin-bottom: 5px;
}

.alert-corner{
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.8;
}