<div class="tab-options">
     <button type="button" routerLink="/add-employee" class="btn btn-success btn-tab-options">Add new employee</button>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" *ngFor="let item of headerTable">{{ item }}</th>
      <th></th><th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; let i = index">
      <td>{{ employee.Id }}</td>
      <td>{{ employee.Name }}</td>
      <td>{{ employee.SecondName }}</td>
      <td>{{ employee.MaxFte }}</td>
      <td>{{ employee.FreeFte }}</td>
      <!-- <td>{{ employee.projects }}</td> -->
      <td><button type="button" (click)="DeleteEmployee(employee.Id, i)" class="btn btn-danger btn-table">Delete</button></td>
      <td><button type="button" class="btn btn-warning btn-table">Edit</button></td>
    </tr>
  </tbody>
</table>



