<div class="tab-options">
     <button type="button" class="btn btn-success btn-tab-options">Add new employee</button>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" *ngFor="let item of headerTable">{{ item }}</th>
      <th></th><th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.secondName }}</td>
      <td>{{ employee.maxTFE }}</td>
      <td>{{ employee.freeTFE }}</td>
      <td>{{ employee.projects }}</td>
      <td><button type="button" class="btn btn-danger btn-table">Delete</button></td>
      <td><button type="button" class="btn btn-warning btn-table">Edit</button></td>
    </tr>
  </tbody>
</table>



