<div class="tab-options">
  <button type="button" (click)="openModalEdit(false)" class="btn btn-success btn-tab-options">Add new employee</button>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" *ngFor="let item of headerTable">{{ item }}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; let i = index">
      <td>{{ employee.EmployeeId }}</td>
      <td>{{ employee.Name }}</td>
      <td>{{ employee.SecondName }}</td>
      <td>{{ employee.MaxFte }}</td>
      <td>{{ employee.FreeFte }}</td>
      <!-- <td>{{ employee.projects }}</td> -->
      <td><button type="button" (click)="openModalConfirm(template); setDeleteData(employee, i)" class="btn btn-danger btn-table">Delete</button></td>
      <td><button type="button" (click)="openModalEdit(true, employee)" class="btn btn-warning btn-table">Edit</button></td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm delete?</p>
    <p>{{ employee.Name }} {{ employee.SecondName }}</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>